---
# Generate VPN connection strings for a single extra inbound
# Called from main.yml with current_inbound variable

- name: "Display VPN strings for {{ current_inbound.external_dns_name | default(current_inbound.dns_name | default(xray_dns_name)) }}"
  debug:
    msg: >-
      {% set security = current_inbound.security | default('none') %}
      {% set network = current_inbound.network | default(xray_network_type) %}
      {% set dns = current_inbound.dns_name | default(xray_dns_name) %}
      {% set ext_dns = current_inbound.external_dns_name | default(dns) %}
      {% set ext_port = current_inbound.external_port | default(current_inbound.port) %}
      {% if security == 'reality' %}
      {{xray_protocol}}://{{ item.uid }}@{{ ext_dns }}:{{ ext_port }}?security=reality&encryption=none&type={{ network }}&flow={{ current_inbound.flow }}&sni={{ current_inbound.reality_server_names[0] | default('www.google.com') }}&pbk={{ current_inbound.reality_public_key }}&sid={{ current_inbound.reality_short_ids[0] | default('') }}&fp=chrome#{{ ext_dns }}
      {% elif security == 'tls' %}
      {{xray_protocol}}://{{ item.uid }}@{{ ext_dns }}:{{ ext_port }}?security=tls&encryption=none&type={{ network }}{% if network == 'ws' %}&host={{ ext_dns }}&path={{ current_inbound.path | default(xray_path) }}{% elif network == 'grpc' %}&serviceName={{ current_inbound.grpc_service_name | default('grpc') }}{% endif %}&fp=chrome#{{ ext_dns }}
      {% else %}
      {{xray_protocol}}://{{ item.uid }}@{{ ext_dns }}:{{ ext_port }}?security=none&encryption=none&type={{ network }}{% if network == 'ws' %}&host={{ ext_dns }}&path={{ current_inbound.path | default(xray_path) }}{% endif %}#{{ ext_dns }}
      {% endif %}
  loop: "{{ current_inbound.users | default(xray_users) }}"
  loop_control:
    label: "{{ item.name }}"
