#!/bin/bash

whoami

{% if xray_ssl_name is defined and xray_ssl_name != "" %}
cp -vRL /etc/letsencrypt/live/{{ xray_ssl_name }}/fullchain.pem {{xray_folder}}/etc/cert.pem
cp -vRL /etc/letsencrypt/live/{{ xray_ssl_name }}/privkey.pem {{xray_folder}}/etc/key.pem

chown -R {{xray_user}}:{{xray_group}} {{xray_folder}}/etc/*.pem
chmod 0400 {{xray_folder}}/etc/*.pem
{% endif %}
