{
  "log": {
    "loglevel": "info"
  },
  "inbounds": [
{% if xray_port is defined and xray_port != "" %}
    {
      "port": {{ xray_port }},
      "protocol": "{{ xray_protocol }}",
      "settings": {
        "clients": [

{% if xray_users is defined and xray_users | length %}
{% for x in xray_users %}
          {
            "id": "{{ x.uid }}",
            "level": 0,
            "name": "{{ x.name }}"
          }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}

        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "{{ xray_network_type }}",
        "security": "{{ xray_security }}",
        "wsSettings": {
          "path": "{{ xray_path }}",
          "headers": {
            "Host": "{{ xray_dns_name }}"
          }
        },
        "tlsSettings": {
          "serverName": "{{ xray_dns_name }}",
          "certificates": [
            {
              "certificateFile": "{{ xray_folder }}/etc/cert.pem",
              "keyFile": "{{ xray_folder }}/etc/key.pem"
            }
          ]
        }
      }
    }
{% else %}
    {
      "port": 65501,
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "none"
      }
    }
{% endif %}
{% if xray_extra_inbounds is defined and xray_extra_inbounds | length %}
{% for inbound in xray_extra_inbounds %}
    ,
    {
      "port": {{ inbound.port }},
      "listen": "{{ inbound.listen | default('127.0.0.1') }}",
      "protocol": "{{ xray_protocol }}",
      "settings": {
        "clients": [
{% set inbound_users = inbound.users | default(xray_users) %}
{% if inbound_users is defined and inbound_users | length %}
{% for x in inbound_users %}
          {
            "id": "{{ x.uid }}",
{% if inbound.flow is defined %}
            "flow": "{{ inbound.flow }}",
{% endif %}
            "level": 0,
            "name": "{{ x.name }}"
          }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}

        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "{{ inbound.network | default(xray_network_type) }}",
        "security": "{{ inbound.security | default('none') }}"{% if inbound.network | default(xray_network_type) == 'ws' %},
{% if inbound.proxy_protocol | default(false) %}
        "sockopt": {
          "acceptProxyProtocol": {{inbound.proxy_protocol | lower }}
        },
{% endif %}
        "wsSettings": {
          "path": "{{ inbound.path | default(xray_path) }}",
          "headers": {
            "Host": "{{ inbound.dns_name | default(xray_dns_name) }}"
          }
        }{% endif %}{% if inbound.network | default(xray_network_type) == 'tcp' %},
        "tcpSettings": {
          "acceptProxyProtocol": {{ inbound.accept_proxy_protocol | default(false) | lower }}
        }{% endif %}{% if inbound.network | default(xray_network_type) == 'grpc' %},
        "grpcSettings": {
          "serviceName": "{{ inbound.grpc_service_name | default('grpc') }}"
        }{% endif %}{% if inbound.security | default('none') == 'tls' %},
        "tlsSettings": {
          "serverName": "{{ inbound.dns_name | default(xray_dns_name) }}",
          "certificates": [
            {
              "certificateFile": "{{ inbound.cert_file | default(xray_folder + '/etc/cert.pem') }}",
              "keyFile": "{{ inbound.key_file | default(xray_folder + '/etc/key.pem') }}"
            }
          ]
        }{% endif %}{% if inbound.security | default('none') == 'reality' %},
        "realitySettings": {
          "show": false,
          "dest": "{{ inbound.reality_dest | default('www.google.com:443') }}",
          "xver": 0,
          "serverNames": {{ inbound.reality_server_names | default(['www.google.com']) | to_json }},
          "privateKey": "{{ inbound.reality_private_key }}",
          "shortIds": {{ inbound.reality_short_ids | default(['']) | to_json }}
        }{% endif %}

      }
    }
{% endfor %}
{% endif %}
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}
