#!/bin/bash

cp /etc/letsencrypt/live/{{ xray_ssl_name }}/fullchain.pem {{xray_folder}}/etc/cert.pem
cp /etc/letsencrypt/live/{{ xray_ssl_name }}/privkey.pem {{xray_folder}}/etc/key.pem

chown -R {{xray_user}}:{{xray_group}} {{xray_folder}}/etc/*.pem
chmod 0400 {{xray_folder}}/etc/*.pem

su -fm {{xray_user}} -c "{{xray_folder}}/bin/xray run -confdir {{xray_folder}}/etc/"
