[Unit]
Description=Xray VPN Service
After=network.target

[Service]
Type=simple
User={{xray_user}}
PermissionsStartOnly=true
ExecStartPre=/usr/local/xray/certs.sh
ExecStart={{xray_folder}}/bin/xray run -confdir {{xray_folder}}/etc/
ExecStop=/usr/local/xray/stop.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
